#### import 공간

In [2]:
import pandas as pd
import numpy as np
import json
import random

## genre_data

In [18]:
genre_gn_all = pd.read_json('C:/Users/YunSeog/Desktop/Melonplay/Hunchbrown-Melon-Playlist-Continuation/res/genre_gn_all.json', encoding = 'utf-8',typ = 'series')
genre_gn_all = pd.DataFrame(genre_gn_all, columns = ['gnr_name']).reset_index().rename(columns = {'index' : 'gnr_code'})
genre_data = pd.read_json('C:/Users/YunSeog/Desktop/Melonplay/Hunchbrown-Melon-Playlist-Continuation/res/genre_gn_all.json', encoding = 'utf-8',typ = 'series')

In [4]:
genre_gn_all

    gnr_code gnr_name
0     GN0100      발라드
1     GN0101   세부장르전체
2     GN0102      '80
3     GN0103      '90
4     GN0104      '00
..       ...      ...
249   GN2900      뮤지컬
250   GN2901   세부장르전체
251   GN2902    국내뮤지컬
252   GN2903    국외뮤지컬
253   GN3000    크리스마스

[254 rows x 2 columns]

In [5]:
gnr_code = genre_gn_all[genre_gn_all['gnr_code'].str[-2:] == '00']
gnr_code

    gnr_code    gnr_name
0     GN0100         발라드
6     GN0200          댄스
12    GN0300        랩/힙합
18    GN0400    R&B/Soul
22    GN0500        인디음악
32    GN0600        록/메탈
39    GN0700        성인가요
50    GN0800      포크/블루스
56    GN0900         POP
65    GN1000        록/메탈
80    GN1100      일렉트로니카
90    GN1200        랩/힙합
100   GN1300    R&B/Soul
109   GN1400  포크/블루스/컨트리
117   GN1500         OST
128   GN1600         클래식
144   GN1700          재즈
155   GN1800        뉴에이지
163   GN1900       J-POP
176   GN2000        월드뮤직
187   GN2100         CCM
198   GN2200      어린이/태교
215   GN2300        종교음악
218   GN2400          국악
225   GN2500         아이돌
232   GN2600      일렉트로니카
237   GN2700         EDM
242   GN2800       뮤직테라피
249   GN2900         뮤지컬
253   GN3000       크리스마스

In [6]:
dtl_gnr_code = genre_gn_all[genre_gn_all['gnr_code'].str[-2:] != '00']
dtl_gnr_code.rename(columns = {'gnr_code' : 'dtl_gnr_code', 'gnr_name' : 'dtl_gnr_name'}, inplace = True)
dtl_gnr_code

C:\Users\YunSeog\Anaconda3\lib\site-packages\pandas\core\frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

    dtl_gnr_code dtl_gnr_name
1         GN0101       세부장르전체
2         GN0102          '80
3         GN0103          '90
4         GN0104          '00
5         GN0105         '10-
..           ...          ...
247       GN2805         숙면유도
248       GN2806         반려동물
250       GN2901       세부장르전체
251       GN2902        국내뮤지컬
252       GN2903        국외뮤지컬

[224 rows x 2 columns]

In [7]:
# 앞자리 네 자리 공통코드 추출
gnr_code = gnr_code.assign(join_code = gnr_code['gnr_code'].str[0:4])
dtl_gnr_code = dtl_gnr_code.assign(join_code = dtl_gnr_code['dtl_gnr_code'].str[0:4])

# Merge
gnr_code_tree = pd.merge(gnr_code, dtl_gnr_code, how = 'left', on = 'join_code')

gnr_code_tree[['gnr_code', 'gnr_name', 'dtl_gnr_code', 'dtl_gnr_name']]

    gnr_code gnr_name dtl_gnr_code dtl_gnr_name
0     GN0100      발라드       GN0101       세부장르전체
1     GN0100      발라드       GN0102          '80
2     GN0100      발라드       GN0103          '90
3     GN0100      발라드       GN0104          '00
4     GN0100      발라드       GN0105         '10-
..       ...      ...          ...          ...
220   GN2800    뮤직테라피       GN2806         반려동물
221   GN2900      뮤지컬       GN2901       세부장르전체
222   GN2900      뮤지컬       GN2902        국내뮤지컬
223   GN2900      뮤지컬       GN2903        국외뮤지컬
224   GN3000    크리스마스          NaN          NaN

[225 rows x 4 columns]

## song_meta

In [8]:
song_meta = pd.read_json('C:/Users/YunSeog/Desktop/Melonplay/Hunchbrown-Melon-Playlist-Continuation/res/song_meta.json',
                         encoding = 'UTF-8', typ = 'frame')
song_meta

,song_gn_dtl_gnr_basket,issue_date,album_name,album_id,artist_id_basket,song_name,song_gn_gnr_basket,artist_name_basket,id
0,[GN0901],20140512,불후의 명곡 - 7080 추억의 얄개시대 팝송베스트,2255639,[2727],Feelings,[GN0900],[Various Artists],0
1,"[GN1601, GN1606]",20080421,"Bach : Partitas Nos. 2, 3 & 4",376431,[29966],"Bach : Partita No. 4 In D Major, BWV 828 - II....",[GN1600],[Murray Perahia],1
2,[GN0901],20180518,Hit,4698747,[3361],Solsbury Hill (Remastered 2002),[GN0900],[Peter Gabriel],2
3,"[GN1102, GN1101]",20151016,Feeling Right (Everything Is Nice) (Feat. Popc...,2644882,[838543],Feeling Right (Everything Is Nice) (Feat. Popc...,[GN1100],[Matoma],3
4,"[GN1802, GN1801]",20110824,그남자 그여자,2008470,[560160],그남자 그여자,[GN1800],[Jude Law],4
...,...,...,...,...,...,...,...,...,...
707984,[GN2001],19991219,The Best Best Of The Black President,65254,[166499],Coffin For Head Of State,[GN2000],[Fela Kuti],707984
707985,[GN0901],19860000,True Colors,44141,[11837],Change Of Heart,[GN0900],[Cyndi Lauper],707985
707986,"[GN0105, GN0101]",20160120,행보 2015 윤종신 / 작사가 윤종신 Live Part.1,2662866,[437],스치듯 안녕,[GN0100],[윤종신],707986
707987,"[GN1807, GN1801]",20131217,명상의 시간을 위한 뉴에이지 음악,2221722,[729868],숲의 빛,[GN1800],[Nature Piano],707987
707988,"[GN0601, GN0604]",19980000,김경호 Live,34663,[895],Queen 명곡 멜로디,[GN0600],[김경호],707988

## train

In [10]:
train = pd.read_json('C:/Users/YunSeog/Desktop/Melonplay/Hunchbrown-Melon-Playlist-Continuation/res/train.json',
                     encoding = 'UTF-8', typ = 'frame')
train

,tags,id,plylst_title,songs,like_cnt,updt_date
0,[락],61281,여행같은 음악,"[525514, 129701, 383374, 562083, 297861, 13954...",71,2013-12-19 18:36:19.000
1,"[추억, 회상]",10532,요즘 너 말야,"[432406, 675945, 497066, 120377, 389529, 24427...",1,2014-12-02 16:19:42.000
2,"[까페, 잔잔한]",76951,"편하게, 잔잔하게 들을 수 있는 곡.-","[83116, 276692, 166267, 186301, 354465, 256598...",17,2017-08-28 07:09:34.000
3,"[연말, 눈오는날, 캐럴, 분위기, 따듯한, 크리스마스캐럴, 겨울노래, 크리스마스,...",147456,크리스마스 분위기에 흠뻑 취하고 싶을때,"[394031, 195524, 540149, 287984, 440773, 10033...",33,2019-12-05 15:15:18.000
4,[댄스],27616,추억의 노래 ㅋ,"[159327, 553610, 5130, 645103, 294435, 100657,...",9,2011-10-25 13:54:56.000
...,...,...,...,...,...,...
115066,"[록메탈, 밴드사운드, 록, 락메탈, 메탈, 락, extreme]",120325,METAL E'SM #2,"[429629, 441511, 612106, 516359, 691768, 38714...",3,2020-04-17 04:31:11.000
115067,[일렉],106976,빠른 리스너를 위한 따끈따끈한 최신 인기 EDM 모음!,"[321330, 216057, 534472, 240306, 331098, 23288...",13,2015-12-24 17:23:19.000
115068,"[담시, 가족, 눈물, 그리움, 주인공, 나의_이야기, 사랑, 친구]",11343,#1. 눈물이 앞을 가리는 나의_이야기,"[50512, 249024, 250608, 371171, 229942, 694943...",4,2019-08-16 20:59:22.000
115069,"[잔잔한, 버스, 퇴근버스, Pop, 풍경, 퇴근길]",131982,퇴근 버스에서 편히 들으면서 하루를 마무리하기에 좋은 POP,"[533534, 608114, 343608, 417140, 609009, 30217...",4,2019-10-25 23:40:42.000
115070,"[노래추천, 팝송추천, 팝송, 팝송모음]",100389,FAVORITE POPSONG!!!,"[26008, 456354, 324105, 89871, 135272, 143548,...",17,2020-04-18 20:35:06.000

# 랜덤한 플레이리스트 선정

## 태그 출력

## 구성 곡 제목 및 아티스트, 장르 출력

In [20]:
randnum = random.randrange(0, len(train))
sample_songs = train.loc[randnum]['songs']
print("플레이리스트 제목 : "+train.loc[randnum]['plylst_title'])
print()
print("업데이트 날짜 :", train.loc[randnum]['updt_date'])
print()
print("태그 :", train.loc[randnum]['tags'])
print()
for song in sample_songs:
    temp = []
    for genre in song_meta.loc[song]['song_gn_gnr_basket']:
        temp2 = genre_data[genre]
        temp.append(temp2)
    print("'"+song_meta.loc[song]['song_name']+"'", "by",song_meta.loc[song]['artist_name_basket'],temp)

플레이리스트 제목 : 쌀쌀한 아침에 위로가 되어줄 플레이 리스트 :)

업데이트 날짜 : 2018-01-08 11:33:48.000

태그 : ['아침', '월요일', '취향저격', '생각', '외로움', '쌀쌀한']

'거꾸로 걷는다' by ['어반자카파'] ['발라드']
'고백' by ['정준일'] ['인디음악', '록/메탈']
'스토커' by ['10CM'] ['인디음악', '포크/블루스']
'잊지 말기로 해 (Bonus Track)' by ['성시경', '권진아'] ['발라드']
'May Be' by ['이루마'] ['뉴에이지']
'널 생각해' by ['너울'] ['뉴에이지']
'내 입술 따뜻한 커피처럼 (Feat. 이성경) (Prod. by 박근태)' by ['에디킴'] ['발라드']
'Slow Slow Slow' by ['Ergo (에르고)'] ['뉴에이지']
'꿈을 꾼다' by ['오하린'] ['뉴에이지']
'사랑의 온도' by ['도로시의 연'] ['뉴에이지']
'나만 안되는 연애' by ['미리별'] ['뉴에이지']
'꿈을 꾼 듯' by ['JBJ'] ['아이돌', '발라드']
'Days Of Wine And Roses' by ['The Oscar Peterson Trio'] ['재즈']
'Merry Christmas Mr. Lawrence' by ['Sakamoto Ryuichi'] ['뉴에이지']
'우리 처음 만난 날을 기억하나요 (Do You Remember The First Time We Met)' by ['316'] ['뉴에이지']
'사랑의 인사' by ['Sasaki Isao'] ['뉴에이지']
'사랑후에 남겨진 것들' by ['이진욱'] ['뉴에이지']
'Breeze' by ['Little West'] ['J-POP']
'사랑한 후에' by ['박효신'] ['발라드']
'Satie : Gymnopedie No.1 - Lent Et Douloureux (사티 : 짐노페디 1번)' by ['Erik Satie'] ['클래식']

In [22]:
# 플레이리스트 아이디(id)와 수록곡(songs) 추출
plylst_song_map = train[['id', 'songs']]

# unnest songs
plylst_song_map_unnest = np.dstack(
    (
        np.repeat(plylst_song_map.id.values, list(map(len, plylst_song_map.songs))), 
        np.concatenate(plylst_song_map.songs.values)
    )
)

# unnested 데이터프레임 생성 : plylst_song_map
plylst_song_map = pd.DataFrame(data = plylst_song_map_unnest[0], columns = plylst_song_map.columns)
plylst_song_map['id'] = plylst_song_map['id'].astype(str)
plylst_song_map['songs'] = plylst_song_map['songs'].astype(str)

# unnest 객체 제거
del plylst_song_map_unnest

plylst_song_map

             id   songs
0         61281  525514
1         61281  129701
2         61281  383374
3         61281  562083
4         61281  297861
...         ...     ...
5285866  100389  111365
5285867  100389   51373
5285868  100389  640239
5285869  100389   13759
5285870  100389  154078

[5285871 rows x 2 columns]

In [23]:
# 플레이리스트 아이디(id)와 매핑된 태그(tags) 추출
plylst_tag_map = train[['id', 'tags']]

# unnest tags
plylst_tag_map_unnest = np.dstack(
    (
        np.repeat(plylst_tag_map.id.values, list(map(len, plylst_tag_map.tags))), 
        np.concatenate(plylst_tag_map.tags.values)
    )
)

# unnested 데이터프레임 생성 : plylst_tag_map
plylst_tag_map = pd.DataFrame(data = plylst_tag_map_unnest[0], columns = plylst_tag_map.columns)
plylst_tag_map['id'] = plylst_tag_map['id'].astype(str)

# unnest 객체 제거
del plylst_tag_map_unnest

plylst_tag_map

            id  tags
0        61281     락
1        10532    추억
2        10532    회상
3        76951    까페
4        76951   잔잔한
...        ...   ...
476326  131982   퇴근길
476327  100389  노래추천
476328  100389  팝송추천
476329  100389    팝송
476330  100389  팝송모음

[476331 rows x 2 columns]

In [36]:
# 곡 아이디(id)와 대분류 장르코드 리스트(song_gn_gnr_basket) 추출
song_gnr_map = song_meta.loc[:, ['id', 'song_gn_gnr_basket']]

# unnest song_gn_gnr_basket
song_gnr_map_unnest = np.dstack(
    (
        np.repeat(song_gnr_map.id.values, list(map(len, song_gnr_map.song_gn_gnr_basket))), 
        np.concatenate(song_gnr_map.song_gn_gnr_basket.values)
    )
)

# unnested 데이터프레임 생성 : song_gnr_map
song_gnr_map = pd.DataFrame(data = song_gnr_map_unnest[0], columns = song_gnr_map.columns)
song_gnr_map['id'] = song_gnr_map['id'].astype(str)
song_gnr_map.rename(columns = {'id' : 'song_id', 'song_gn_gnr_basket' : 'gnr_code'}, inplace = True)

# unnest 객체 제거
del song_gnr_map_unnest

song_gnr_map

       song_id gnr_code
0            0   GN0900
1            1   GN1600
2            2   GN0900
3            3   GN1100
4            4   GN1800
...        ...      ...
802854  707984   GN2000
802855  707985   GN0900
802856  707986   GN0100
802857  707987   GN1800
802858  707988   GN0600

[802859 rows x 2 columns]

In [37]:
# 1. 플레이리스트-곡 테이블 plylst_song_map + 플레이리스트-태그 테이블 plylst_tag_map join 테이블 생성 : plylst_song_tag_map
plylst_song_tag_map = pd.merge(plylst_song_map, plylst_tag_map, how = 'left', on = 'id')

# 2. 1번 테이블 plylst_song_tag_map + 곡 장르 테이블 song_gnr_map join
plylst_song_tag_map = pd.merge(plylst_song_tag_map, song_gnr_map, how = 'left', left_on = 'songs', right_on = 'song_id')

# 3. 2번 테이블에서 장르 메타 join
gnr_code['gnr_code_name'] = gnr_code['gnr_code'] + ' (' + gnr_code['gnr_name'] + ')'
gnr_code = gnr_code[['gnr_code', 'gnr_code_name']]
plylst_song_tag_map = pd.merge(plylst_song_tag_map, gnr_code, how = 'left', on = 'gnr_code')

# 4. 최종 테이블 필드 선택
plylst_song_tag_map = plylst_song_tag_map[['id', 'songs', 'tags', 'gnr_code_name']]

In [39]:
plylst_song_tag_map

              id   songs  tags        gnr_code_name
0          61281  525514     락  GN1400 (포크/블루스/컨트리)
1          61281  129701     락         GN0900 (POP)
2          61281  129701     락        GN1000 (록/메탈)
3          61281  383374     락        GN1000 (록/메탈)
4          61281  562083     락         GN0900 (POP)
...          ...     ...   ...                  ...
29620344  100389   13759  팝송모음        GN1000 (록/메탈)
29620345  100389  154078  노래추천        GN1000 (록/메탈)
29620346  100389  154078  팝송추천        GN1000 (록/메탈)
29620347  100389  154078    팝송        GN1000 (록/메탈)
29620348  100389  154078  팝송모음        GN1000 (록/메탈)

[29620349 rows x 4 columns]

In [40]:
# 학습 데이터 내에서 가장 많은 태그가 매핑된 아이유 - 밤편지 (144663) 예시
example_song = plylst_song_tag_map[plylst_song_tag_map['songs'] == '144663']
example_song

              id   songs  tags gnr_code_name
36032       7984  144663    슬픔  GN0100 (발라드)
36033       7984  144663   거짓말  GN0100 (발라드)
36034       7984  144663    이별  GN0100 (발라드)
36035       7984  144663    아픈  GN0100 (발라드)
115027    106802  144663    힐링  GN0100 (발라드)
...          ...     ...   ...           ...
29580419   13178  144663    새벽  GN0100 (발라드)
29580420   13178  144663  새벽아침  GN0100 (발라드)
29580421   13178  144663   활기찬  GN0100 (발라드)
29580422   13178  144663    산책  GN0100 (발라드)
29580423   13178  144663    힐링  GN0100 (발라드)

[12791 rows x 4 columns]

In [41]:
example_song.groupby(['songs', 'tags']).id.nunique().reset_index(name = 'mapping_plylst_cnt').sort_values(by = 'mapping_plylst_cnt', ascending = False)

       songs    tags  mapping_plylst_cnt
241   144663      감성                 690
770   144663     발라드                 543
1462  144663     잔잔한                 413
1699  144663      카페                 395
940   144663      새벽                 339
...      ...     ...                 ...
782   144663     밤공기                   1
781   144663     밤감성                   1
779   144663   발랄한노래                   1
778   144663  발라드핫트랙                   1
1927  144663   힙합알앤비                   1

[1928 rows x 3 columns]

In [45]:
# 곡 별 매핑되는 태그 수 집계 : song_tag_map_cnt
song_tag_map_cnt = plylst_song_tag_map.groupby('songs').tags.nunique().reset_index(name = 'tags_cnt')
round(song_tag_map_cnt.describe().loc[['min', '25%', '50%', 'mean', '75%', 'max', 'std']].transpose(), 2)

          min  25%  50%   mean   75%     max    std
tags_cnt  1.0  2.0  7.0  17.86  15.0  1928.0  44.95

In [60]:
example_temp = plylst_song_tag_map.loc[plylst_song_tag_map['tags'] == '슬픔', :].groupby('songs').id.nunique().reset_index(name = 'mapping_plylst_cnt').sort_values(by = 'mapping_plylst_cnt', ascending = False)
example_temp = example_temp.astype({'songs' : 'int64'})
pd.merge(example_temp, song_meta[['id', 'song_name', 'artist_name_basket']], how = 'left', left_on = 'songs', right_on = 'id').head(10)

,songs,mapping_plylst_cnt,id,song_name,artist_name_basket
0,116573,296,116573,안아줘,[정준일]
1,349492,292,349492,어떤이별,[임승부]
2,13281,281,13281,넌 이별 난 아직 (With 한소현 Of 3rd Coast),[스탠딩 에그]
3,396828,277,396828,쉬운사랑,[중신]
4,169984,266,169984,같은 시간 속의 너,[나얼]
5,245317,256,245317,첫 이별 그날 밤,[아이유]
6,152422,254,152422,너무 보고싶어,[어쿠스틱 콜라보]
7,339802,253,339802,홀로 (Feat. 김나영),[정키]
8,75842,247,75842,잊혀지다 (Feat. 양다일),[정키]
9,42155,239,42155,벙어리,[홍아]